<h1 style="text-align: center;">Lista de productos y su stock</h1>
<br>

<table>
  <thead>
    <tr>
      <th>Producto</th>
      <th>Stock</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.product_name %></td>
        <td><%= product.product_stock %></td>
      </tr>
    <% end %>
  </tbody>
</table>

